<?xml version="1.0" encoding="UTF-8"?>
    <Configuration status="error" strict="true">
      <Properties>
        <Property name="filename">${env:PRO_LSF_LOGDIR}/${env:PROVIDER_NAME}-provider.log.${hostName}</Property>
      </Properties>
     
      <Appenders>
<Console name="Console" target="SYSTEM_OUT">
    </Console>        
        <RollingFile name="AWS_FILE_APPEND" fileName="${filename}" append="true" filePattern="${filename}-%i.log">
      <PatternLayout>
        <Pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}]-[%p]-[%l] %m%n</Pattern>
      </PatternLayout>
      <Policies>
        <SizeBasedTriggeringPolicy size="1024 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="5"/>
    </RollingFile>
      </Appenders>
     
      <Loggers>
        <Logger name="com.ibm.spectrum" level="info" additivity="false">
          <AppenderRef ref="AWS_FILE_APPEND"/>
        </Logger>
		
		<Logger name="org.springframework" level="error" additivity="false">
          <AppenderRef ref="AWS_FILE_APPEND"/>
        </Logger>
		
		<Logger name="com.amazonaws" level="error" additivity="false">
          <AppenderRef ref="AWS_FILE_APPEND"/>
        </Logger>
		
		<Logger name="org.apache.http" level="error" additivity="false">
          <AppenderRef ref="AWS_FILE_APPEND"/>
        </Logger>
		
		<Logger name="com.fasterxml.jackson" level="error" additivity="false">
          <AppenderRef ref="AWS_FILE_APPEND"/>
        </Logger>
     
        
     
        <Root level="error">
          <AppenderRef ref="AWS_FILE_APPEND"/>
        </Root>
      </Loggers>
     
    </Configuration>
